/data/processed/recipes
/data/raw/nutrition_database
data/raw/recipes/dataset/full_dataset.csv
/models/.cache
/models/recipe_generation/llama3_1b_finetuned/checkpoint-5000
/models/recipe_generation/llama3_1b_finetuned/checkpoint-5340
/models/recipe_generation/llama3_1b_finetuned/checkpoint-4500
models/recipe_generation/Meta-Llama-3.1-8B-Instruct-Q5_K_M.gguf
/models/recipe_generation/checkpoints
models/recipe_generation/finetuned/optimizer.pt
models/recipe_generation/finetuned/model.safetensors
poster_qa_preparation.md
data/results/pipeline_output/temp_upload.jpg
nul
presentation_script.md
