models/.cache/huggingface/models--gpt2-medium/.no_exist/6dcaa7a952f72f9298047fd5137cd6e4f05f41da/custom_generate/generate.py
data/processed/recipes/dataset_statistics.json
data/processed/recipes/recipes_dataset.csv
data/processed/recipes/full_recipes.json
data/processed/recipes/train_recipes.json
data/processed/recipes/val_recipes.json
data/raw/recipes/dataset.zip
data/raw/recipes/dataset/full_dataset.csv
models/.cache/huggingface/models--gpt2-medium/snapshots/6dcaa7a952f72f9298047fd5137cd6e4f05f41da/merges.txt
models/.cache/huggingface/models--gpt2-medium/snapshots/6dcaa7a952f72f9298047fd5137cd6e4f05f41da/model.safetensors
models/recipe_generation/checkpoints/checkpoint-700/config.json
models/recipe_generation/checkpoints/checkpoint-700/merges.txt
models/recipe_generation/checkpoints/checkpoint-700/optimizer.pt
models/recipe_generation/checkpoints/checkpoint-700/generation_config.json
models/recipe_generation/checkpoints/checkpoint-700/model.safetensors
models/recipe_generation/checkpoints/checkpoint-700/rng_state.pth
models/recipe_generation/checkpoints/checkpoint-700/scaler.pt
models/recipe_generation/checkpoints/checkpoint-700/tokenizer_config.json
models/recipe_generation/checkpoints/checkpoint-700/trainer_state.json
models/recipe_generation/checkpoints/checkpoint-800/config.json
models/recipe_generation/checkpoints/checkpoint-800/config.json
models/recipe_generation/checkpoints/checkpoint-700/scheduler.pt
models/recipe_generation/checkpoints/checkpoint-700/training_args.bin
models/recipe_generation/checkpoints/checkpoint-700/vocab.json
models/recipe_generation/checkpoints/checkpoint-800/merges.txt
/models/recipe_generation/checkpoints/checkpoint-800
/models/recipe_generation/checkpoints
/models/recipe_generation/finetuned
